/* Nav! */
:root {
    --text-color: white;
    --background-color: rgb(238, 81, 81);
    --icons-color: white;
    --content-color: white;
    --box_inline-color:white;
    --box_inline_2-color:black;
}

body {
    margin: 0 ! important; 
    font-family: 'Nanum Gothic', sans-serif !important;
    line-height: 1 !important;
}

a{
    text-decoration: none ! important; 
}
a:hover{
    text-decoration: none ! important; 
    color: white ! important;
}

dl, ol, ul {
    margin-top: revert !important;
    margin-bottom: revert !important;
}
.navbar_menu a {
    color: white ! important;
}

.navbar {
    display: flex ! important;
    justify-content: space-between ! important;
    align-items: center ! important;
    background-color: var(--background-color) ! important;
    padding: 8px 12px ! important;
}

.navbar_logo , .navbar_logo a {
    
    color: var(--text-color);
    
}
.navbar_logo span {
    font-weight: bold ! important;
    font-size: 30px;
}
.navbar_logo i {
    color: var(--icons-color);
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}
.navbar_menu li  {
    padding: 8px 12px;
    color: white;
}
.navbar_menu li:hover {
    background-color: rgb(187,235,222);
    border-radius: 4px;
    color: black;
}
.navbar_menu a:hover {
    color: black;
}
.navbar_icons {
    list-style: none;
    color: var(--icons-color);
    display: flex;
    padding: 0;
    
}
.navbar_icons a {
	color:white;
}
.navbar_icons li {
    padding: 8px 12px;
    font-size: 20px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--icons-color);
}
.write_fail {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
.writer_wrap {
    width: 1500px;
    margin: auto;
    height: 30px;
    text-align: left;
}
.writer_name {
	border: none;
}
.button_wrap {
	text-align: center;
	padding-top: 8px;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;

    }
    .navbar_toogleBtn {
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}

.board_wrap{
	text-align: center;
	width: 1500px;
	margin: auto;
}

.mb-3 {
    padding-top: 100px;
}

.board_active_btn_wrap {
	width: 1500px;
	margin: auto;
	height: 50px;
}
#board_page_btn {
    float: left;
}

#board_write_btn {
	float: right;
}

/* view부분 css처리 */
.board_view_wrap {
	width: 1500px;
	margin: auto;
	height: 700px;
}

.board_main_title {
    padding-top: 15px;
}

.board_board_name {
    padding-top: 50px;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: rgb(238, 81, 81) 1px solid;
}

.board_board_content {
	height: 300px;
}
#view_page_btn {
	float: right;
}

@media screen and (max-width: 768px) {
    #main {
        display: block;    
    }

    #main #contents {  
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #main {
        min-height: 0;
    }

}